<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <article>
        <h1>Usuario</h1>
        <% registros.forEach(usuario => { %>

            <a href="http://localhost:8080/Chat?recibe=<%= usuario.usuario %>&envia=dadcastillo">
                <section><%= usuario.nombre %></section>
            </a>
    
        <% }); %>
    </article>
    
</body>
</html>